<!doctype html>
<html lang="{{@site.locale}}">

    <head>
        {{> "head"}}
    </head>

    <body>
        {{> "navigation"}}

        <div class="container">
            {{{body}}}
        </div>
    
        {{> "footer"}}
        {{> "scripts"}}
    </body>
</html>