{{!--
This error template is used for all 404 errors.
You need to build the complete structre as the default.hbs will not be pulled!
--}}

<!DOCTYPE html>
<html lang="en">
<head>
  {{> "head"}}
</head>
<body>
    
    {{code}}
   

</body>
</html>